.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    & > li {
      margin-bottom: 8px;
    }
  }
}